name: Build Push  and run Docker Container 
on: [workflow_dispatch]

jobs:
    build:
      runs-on: ubuntu-latest
      container:
        image: node:20.3-alpine3.17
        env:
          url: https://www.example.com
        ports:
          - 80
        volumes:
          - /tmp:/tmp
        options: --cpus 1.0
      steps:
        - name: Checkout code
          uses: actions/checkout@v3
        - name: display node version
          run: |
              node -v
              cat /etc/os-release
              echo "URL is $url"
