name: Dynamic Matrix CI
on:
  workflow_dispatch:
    inputs:
      os:
        description: 'Operating System'
        required: true
        default: 'ubuntu-latest'
        type: string
      minversion:
        description: 'Minor Version'
        required: true
        default: '1,2,3'
        type: string
permissions:
  contents: read
jobs:
  preprocess-matrix:
    runs-on: ubuntu-latest
    outputs: 
        matrix_array: ${{ steps.construct-matrix.outputs.result }}
    steps:
      - name: Construct matrix
        id: construct-matrix
        uses: actions/github-script@v6
        with:
          script: "return {os:context.payload.inputs['os'].split(','),'minversion': context.payload.inputs['minversion'].split(',')}"
          result-encoding: json
  matrix-jobs:
    needs: preprocess-matrix
    strategy:
      matrix:
        os: ${{toJson(needs.preprocess-matrix.outputs.matrix_array).os}}
        minorversion: ${{toJson(needs.preprocess-matrix.outputs.matrix_array).minversion}}
    runs-on: ${{matrix.os}}
    steps:
      - name: Displaying matrix context
        run: echo '${{ toJson(matrix) }}'
      - name: Displaying job output
        run: echo '${{toJson(needs)}}'