name: Set up environment variables
on: [push]
jobs:
  set-env-variables-job:
    runs-on: ubuntu-latest
    env:
      MY_CUSTOM_ENV_VAR: ${{github.ref}}
    steps:
      - name: display environment variables
        run: |
            echo $GITHUB_REPOSITORY
            echo $GITHUB_SHA
            echo $GITHUB_REF
      - name: display context variable
        run: |
              echo '${{github.sha}}'
              echo ${{ github.repository }}
              echo ${{ github.sha }}
              echo ${{ github.ref }}
      - name: run this only when feature refs/heads/feature/pull_target
        if: env.MY_CUSTOM_ENV_VAR == 'refs/heads/feature/pull_target'
        run: |
                echo "This run is for the feature/pull_target branch"