name: Build and Push multiple Docker with and without entry point
on: [workflow_dispatch]
jobs:
  job_docker_steps_docker:
    runs-on: ubuntu-latest
    container:
      image: node:20.3-alpine3.17
      env:
        url: https://www.example.com
      ports:
        - 80
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: displaying node version
        run: |
          node -v
      - name: disply env variable
        run: echo "the url is $url"
      
      - name: docker with enry point
        uses: docker://node:18.16-alpine3.17
        with:
          entry-point: /opt/homebrew/bin/node
          args: -p 2+3
      - name: docker display version without entry point
        uses: docker://node:18.17-alpine3.17
        with:
          args: -v
      - name: displaying list of files
        run: ls -a /__w