name: Pull Request Permission
on:
  pull_request_target:
    types: [opened]
permissions:
  contents: write
  pull-requests: write
jobs:
  pr_comment:
    runs-on: ubuntu-latest
    steps:
      - name: comment on new prs
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: "This is a comment from pull_request_target event."
                })
